@media only screen  and (max-width: 768px) {

/* NOTE: font-family: 'Fjalla One', sans-serif;
                font-family: 'Roboto Slab', serif; */

h1{
    margin: 0;
    font-size: 28px;
    font-family: 'Fjalla One', sans-serif;}

.links{
    color: #0277BD;
    font-style: italic;}

/* HEADER */

.logo{
    position: relative;
    top: -15px;
    width: 70px;
    height: auto;
    margin-left: 20px;}

.navbar-inverse{
    border-radius: 0;
    background-image: linear-gradient(#1B495E, #0277BD);
    margin-bottom: 0;}

.navbar-inverse .navbar-brand{
    color: white;}
.navbar-inverse .navbar-brand:hover{
    color: #E57373;}

.navbar-inverse .navbar-nav li a{
    color: white;
    text-align: center;}
.navbar-inverse .navbar-nav li a:hover{
    color: #E57373;}

/* NOTE: Home Page */
.slide{
    opacity: 0.9;}

.nav-tabs.nav-justified li{
    margin-bottom: 10px;
    border: 1px solid #1C313A;
    border-radius: 3px;}
.nav-tabs.nav-justified li a{
    padding: 0;
    margin: 0;}

.about{
    position: relative;
    top: 50px;
    margin: auto;
    margin-bottom: 50px;
    width: 80%;
    font-size: 14px;
    line-height: 1.35em;}

.portfolio_main{
    position: relative;
    top: 50px;
    margin: auto;
    margin-bottom: 50px;
    width: 75%;
    height: auto;
    border-radius: 6px;
    border: 2px solid #0277BD;
    box-shadow: 1px 1px 20px  1px #999;}

.portfolio_headline{
    padding: 20px;}

.portfolio_cover{
    position: relative;
    border-radius: 6px;
    width: 100%;}

.portfolio_pic{
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid white;
    cursor: pointer;}

#portfolio_text{
    margin: 25px 0;
    padding: 0 30px;
    font-size: 14px;
    line-height: 1.35em;}

/* NOTE: Footer */

.contact_details{
    text-align: center;
    position: relative;
    top: 100px;}

.contact{
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    margin-top: 20px;}
.contact p{
    margin-bottom: 0;}

h4{
    margin-top: 50px;
    margin: 20px;
    text-decoration: underline;}

footer{
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 120px;
    margin-top: 50px;
    background-image: linear-gradient(#1B495E, #0277BD);}

.contact-fix{
    position: absolute;
    bottom: 0;
}

.vb{
    position: relative;
    float: left;
    top: 20px;
    left: 30px;
    height: 70px;
    width: auto;}

.fa{
    float: right;
    margin: 20px 30px;
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    box-shadow: 1px 1px 5px #333333;}
.fa:hover{
    opacity: 0.7;}

.fa-facebook{
    background: #0077B5;
    color: white;}

.contact_id{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    color: white;
    text-align: center;
    font-size: 12px;}

.copyright{
    position: relative;
    top: 10px;}
.copyright a{
    color: #03A9F4;
    text-decoration: none;}

/* NOTE: Product Page */
.product{
    position: relative;
    top: 30px;
    margin: 50px auto;
    height: 650px;
    width: 85%;
    box-shadow: 1px 1px 10px #444444;
    border-radius: 3px;}

.photo{
    position: relative;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 270px;
    height: auto;
    border-radius: 3px;}

.about_product{
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    height: auto;
    color: #333333;
    font-size: 14px;
    line-height: 1.40em;}

#o_proizvodu{
    text-align: center;
    margin-bottom: 30px;
    color: #333333;}

#top{
  position: relative;
  top: 15px;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 50px;
  width: 80px;
  border: 1px solid #0277BD;
  border-radius: 15px;}

.product_details h3{
    position: relative;
    top: 10px;
    padding: 0 5px;
    font-size: 22px;}

.details{
    margin-top: 30px;
    padding: 0 40px;
    text-align: justify;}


/* NOTE: Contact Page */
.map{
    position: relative;
    position: relative;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 0 3px #555555;}

/* NOTE: About Page */
.cover_about{
    position: relative;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    box-shadow: 0 0 3px #333333;
    opacity: 0.9;}

.about_pic_2{
    position: relative;
    top: 70px;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    box-shadow: 0 0 3px #333333;}

.about_text{
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    height: auto;
    color: #333333;
    font-size: 14px;
    line-height: 1.35em;}

.about_text_2{
    position: relative;
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 100px;
    width: 80%;
    height: auto;
    color: #333333;
    font-size: 14px;
    line-height: 1.35em;}

#o_nama{
  font-size: 24px;
  margin-bottom: 30px;
  color: #333333;}






}
