

body, html{
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Colors & Fonts */
body {
  --fontPrimary:         #333333;
  --fontSecondary:       #ffffff;
  --primaryGreen:        #059F97;
  --primaryBlue:         #272B63;
  --backgroundPrimary:   #FF935C;
  --backgroundSecondary: #FB406C;
  --boxShadow:           #C6C6C6;

  --borderRadius: 5px;

  --firstFont:  'Roboto', sans-serif;
  --secondFont: 'Noto Sans', sans-serif;
}
/* ************** */
/* Navigation bar */
/* ************** */
.navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100px;
  margin-bottom: 100px;
  box-shadow: 0 1px 10px var(--boxShadow);
}

.navigation-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
}

.navigation-logo .logo {
  width: 140px;
  cursor: pointer;
}

.navigation-menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-menu ul li {
  margin: 0 10px;
  padding: 5px 15px;
  font-size: 16px;
  font-family: var(--secondFont);
}

.navigation-menu ul li a {
  color: var(--primaryBlue);
}

.navigation-menu ul li a:hover {
  color: var(--primaryGreen);
  text-decoration: none;
}

/* ******** */
/* Headline */
/* ******** */
.headline-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}

.headline-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 40%;
}

.headline-box h1 {
  margin-bottom: 30px;
  font-size: 32px;
  font-family: var(--firstFont);
  color: var(--primaryBlue);
}

.headline-box p {
  font-size: 16px;

  font-weight: 100;
  font-family: var(--secondFont);
  color: var(--primaryBlue);
}

/* *************** */
/* Carousel slider */
/* *************** */
.carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.carousel-box {
  width: 83%;
  height: 400px;
  border: 1px solid red;
}

/* TABLET LAYOUT */
@media only screen and (max-width: 900px) {
/* FOR TABLET */
}
  
/* MOBILE LAYOUT */
@media only screen and (max-width: 599px) {
/* FOR MOBILE */
}