@media only screen  and (min-width: 769px) and (max-width: 1199px){

/* NOTE: font-family: 'Fjalla One', sans-serif;
                font-family: 'Roboto Slab', serif; */

h1{
    margin: 0;
    font-size: 28px;
    font-family: 'Fjalla One', sans-serif;}

.links{
    color: #0277BD;
    font-style: italic;}

/* HEADER */

.logo{
    position: relative;
    top: -10px;
    width: 150px;
    height: auto;
    margin-left: 30px;}

.container{
    width: 100%;}

.navbar-inverse{
    border-radius: 0;
    background-image: linear-gradient(#1B495E, #0277BD);
    margin-bottom: 0;
    height: 120px;}

.navbar-inverse .navbar-brand{
    color: white;}
.navbar-inverse .navbar-brand:hover{
    color: #E57373;}

.navbar-inverse .navbar-nav li a{
    color: white;
    text-align: center;
    font-size: 16px;}
.navbar-inverse .navbar-nav li a:hover{
    color: #E57373;}

/* NOTE: Home Page */
.slide{
    opacity: 0.9;}

.nav-tabs.nav-justified li{
    margin-bottom: 10px;
    border: 1px solid #1C313A;
    border-radius: 3px;}
.nav-tabs.nav-justified li a{
    padding: 0;
    margin: 0;}

.about{
    position: relative;
    top: 50px;
    margin: auto;
    margin-bottom: 70px;
    width: 70%;
    font-size: 16px;
    line-height: 1.40em;}

.portfolio_main{
    position: relative;
    top: 50px;
    margin: auto;
    margin-bottom: 70px;
    width: 65%;
    height: auto;
    border-radius: 6px;
    border: 2px solid #0277BD;
    box-shadow: 1px 1px 20px #999999;}

.portfolio_headline{
    padding: 30px;}

.portfolio_cover{
    position: relative;
    border-radius: 6px;
    width: 100%;}

.portfolio_pic{
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid white;
    cursor: pointer;}

#portfolio_text{
    margin: 25px 0;
    padding: 0 30px;
    font-size: 16px;
    line-height: 1.40em;}

/* NOTE: Footer */

footer{
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 150px;
    margin-top: 50px;
    background-image: linear-gradient(#1B495E, #0277BD);}

.vb{
    position: relative;
    float: left;
    top: 30px;
    left: 50px;
    height: 70px;
    width: auto;}

.fa{
    float: right;
    margin: 30px 50px;
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    box-shadow: 1px 1px 5px #333333;}
.fa:hover{
    opacity: 0.7;}

.fa-facebook{
    background: #0077B5;
    color: white;}

.contact_id{
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    color: white;
    text-align: center;}

.copyright{
    position: relative;
    top: 25px;}
.copyright a{
    color: #03A9F4;
    text-decoration: none;}

/* NOTE: Product Page */
.product{
    position: relative;
    top: 30px;
    margin: 50px auto;
    height: 350px;
    width: 85%;
    box-shadow: 1px 1px 10px #444444;
    border-radius: 3px;}

.photo{
    position: relative;
    top: 10px;
    left: 0;
    right: 0;
    float: left;
    margin: 25px 25px;
    width: 270px;
    height: auto;
    border-radius: 3px;}

.about_product{
    position: relative;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 70%;
    height: auto;
    color: #333333;
    font-size: 16px;
    line-height: 1.40em;}

#o_proizvodu{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    color: #333333;}

#top{
    position: relative;
    top: 15px;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 50px;
    width: 80px;
    border: 1px solid #0277BD;
    border-radius: 15px;}

.product_details{
    position: relative;
    top: 15px;}

.product_details h3{
    position: relative;
    top: 10px;
    padding: 0 5px;
    font-size: 25px;}

.details{
    margin-top: 30px;
    padding: 0 40px;
    font-size: 16px;
    text-align: justify;}

/* NOTE: About Page */
.cover_about{
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    box-shadow: 0 0 3px #333333;
    opacity: 0.9;}

.about_pic_2{
    position: relative;
    top: 70px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    box-shadow: 0 0 3px #333333;}

.about_text{
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    height: auto;
    color: #333333;
    font-size: 16px;
    line-height: 1.40em;}

.about_text_2{
    position: relative;
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 120px;
    width: 70%;
    height: auto;
    color: #333333;
    font-size: 16px;
    line-height: 1.40em;}

#o_nama{
     font-size: 25px;
     margin-bottom: 30px;
     color: #333333;}

/* NOTE: Contact Page */
.map{
    position: relative;
    position: relative;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 85%;
    height: 350px;
    box-shadow: 0 0 3px #555555;}

.mobile_footer{
    position: fixed;
    bottom: 0;
    width: 100%;}

.contact_details{
    text-align: center;
    position: relative;
    top: 100px;
    margin-left: 55px;}
.contact_details h3{
    font-size: 35px;}

.contact{
    position: relative;
    margin-bottom: 50px;
    margin-top: 20px;
    text-align: center;}
.contact p{
    font-size: 16px;
    margin-bottom: 0;}

h4{
    margin-top: 50px;
    margin: 20px;
    text-decoration: underline;}
span{
    color: #03A9F4;}
