@media only screen  and (min-width: 1200px) and (max-width: 5000px){

    /* NOTE: font-family: 'Fjalla One', sans-serif;
                    font-family: 'Roboto Slab', serif; */

h1, h3{
    font-family: 'Fjalla One', sans-serif;}

.links{
    color: #0277BD;
    font-style: italic;
    text-decoration: none;}

/* NOTE: Home Page */

.logo{
    width: 200px;
    height: auto;
    margin-left: 50px;}

.slide{
    opacity: 0.9;
    width: 100%;}


.about{
    position: relative;
    top: 70px;
    margin: auto;
    width: 50%;
    font-size: 18px;
    line-height: 1.30em;}

.portfolio_main{
    position: relative;
    top: 150px;
    margin: auto;
    margin-bottom: 150px;
    width: 45%;
    height: auto;
    border: 2px solid #0277BD;
    border-radius: 6px;
    box-shadow: 1px 1px 20px  1px #999;}

.portfolio_main ol {
    margin-left: 10px;
}

.portfolio_headline{
    padding: 40px;
    font-size: 32px;}

.portfolio_cover{
    border-radius: 6px;
    width: 100%;}

.portfolio_pic{
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid white;
    cursor: pointer;}

#portfolio_text{
    margin: 25px 0;
    padding: 0 30px;
    font-size: 18px;
    line-height: 1.30em;}

/* NOTE: Footer */

.contact_details{
    position: relative;
    top: 120px;}
.contact_details h3{
    font-size: 28px;
    text-align: center;}
.contact{
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 16px;
    text-align: center;}
.contact p{
    margin-bottom: 0;}
h4{
    margin: 20px;
    text-decoration: underline;}

footer{
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 150px;
    margin-top: 150px;
    background-image: linear-gradient(#1B495E, #0277BD);}

.vb{
    position: relative;
    float: left;
    top: 25px;
    left: 80px;
    height: 100px;
    width: auto;}

.fa{
    float: right;
    margin: 30px 80px;
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    box-shadow: 1px 1px 5px #333333;}
.fa:hover{
    opacity: 0.7;}

.fa-facebook{
    background: #0077B5;
    color: white;}

.contact_id{
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    color: white;
    text-align: center;}

.copyright{
    position: relative;
    top: 25px;}
.copyright a{
    color: #03A9F4;
    text-decoration: none;}

/* NOTE: Product Page */
.product{
    position: relative;
    top: 100px;
    margin: 50px auto;
    height: 250px;
    width: 70%;
    box-shadow: 1px 1px 10px #444444;
    border-radius: 3px;}

.photo{
    float: left;
    width: 220px;
    height: auto;
    margin: 15px;}

#text h3{
    font-size: 28px;}

.product_details{
    position: relative;
    top: 20px;}

.details{
    margin-top: 20px;
    padding: 0 40px;
    text-align: justify;}

.about_product{
    position: relative;
    top: 60px;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
    height: auto;
    color: #333333;
    font-size: 16px;
    line-height: 1.40em;}

#o_proizvodu{
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    color: #333333;}

#top{
    position: relative;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    border: 1px solid #0277BD;
    border-radius: 15px;}

/* NOTE: Contact Page */
.map{
    position: relative;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    box-shadow: 0 0 3px #555555;}

/* NOTE: About Page */
.cover_about{
  position: relative;
  display: block;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  opacity: 0.9; }

.about_pic_2{
    position: relative;
    top: 170px;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    box-shadow: 1px 1px 5px #333333;}

.about_text{
  position: relative;
  top: 60px;
  left: 0;
  right: 0;
  margin: auto;
  width: 600px;
  color: #333333;
  font-size: 16px;
  line-height: 1.40em;}

 .about_text_2{
    position: relative;
    top: 280px;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 250px;
    width: 600px;
    height: auto;
    color: #333333;
    font-size: 16px;
    line-height: 1.35em;}

#o_nama{
  margin-bottom: 40px;
  color: #333333;}




}
