
@media only screen  and (min-width: 1200px) {


.navbar-inverse{
    height: 180px;
    border-radius: 0;
    background-image: linear-gradient(#1B495E, #0277BD);
    margin-bottom: 0;}

.navbar-nav{
    position: relative;
    top: 125px;
    font-size: 18px;}

.navbar-inverse .navbar-nav li a{
    color: white;}
.navbar-inverse .navbar-nav li a:hover{
    color: #E57373;}

.navbar-inverse .navbar-brand{
  color: white;
}

.navbar-inverse .navbar-brand:hover{
  color: #E57373;}

}